{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div style="width:1200px; margin:0px auto;"></div>
    <h2 style="text-align:center;">글쓰기</h2><br>
    <div style="width:500px; margin:0px auto;">
        <form action="{% url 'write' %}" method="POST" style="max-width:500px;" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form fileuploadForm %}
            <button type="submit" class="btn btn-primary rounded-pill col-12">POST</button>
        </form>
    </div>
{% endblock %}