{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

{% comment %} {% if board %} {% endcomment %}
<div style="width:1200px; margin:0px auto;">
    <h2 style="text-align:center;">레벨테스트</h2><br>
    <h1 style="text-align:center;"> 문제유형 : {{title}} </h1>
    <div style = "text-align:center;">
        <img src="{{img.url}}" style="width: 800px; height: 500px;">    

    <div style="width:500px; margin:0px auto;">
        <form action="" method="POST" style="max-width:500px;">
            {% csrf_token %}
            {% comment %} {% bootstrap_form form %} {% endcomment %}
            
            <p>답:<input type="text" name="answer"></p> 
            <h1 style="text-align:center;">{{ n }} /40 </h1>
            <button type="submit" class="btn btn-primary rounded-pill col-12">Next</button>
        </form>
    </div>
</div>
{% endblock %}