<div>
    <ul>
        {% if user.is_authenticated %}
            <div class="logout_div">
                <ul class="underline-hover">
                    <li class="logout_text"><a href="{% url 'board' %}"><span>홈</span></a></li>
                    <li class="logout_text"><a href="{% url 'board' %}"><span>게시판</span></a></l1>
                    <li class="logout_text"><a href="{% url 'recommend' user.id %}"><span>추천게시판</span></a></li>
                    <li class="logout_text"><a href="{% url 'level' %}"><span>레벨테스트</span></a></li> 
                    <li class="logout_text"><a href="{% url 'testresult' %}"><span>레벨테스트결과</span></a></li> 
                    <li class="logout_text"><a href="{% url 'logout' %}"><span>로그아웃</span></a></li>
                </ul>
            </div>
        {% comment %} {%if grade.object.exists(user) ==  True %}
        <div class="logout_div">
            <ul class="underline-hover">
                <li class="logout_text"><a href="{% url 'board' %}"><span>홈</span></a></li>
                <li class="logout_text"><a href="{% url 'board' %}"><span>게시판</span></a></l1>
                <li class="logout_text"><a href="{% url 'level' %}"><span>레벨테스트</span></a></li> 
                <li class="logout_text"><a href="{% url 'testresult' %}"><span>레벨테스트결과</span></a></li> 
                <li class="logout_text"><a href="{% url 'logout' %}"><span>로그아웃</span></a></li>
            </ul>
        </div> {% endcomment %}
        {% else %}
            <div class="login_div">
                <ul class="underline-hover">
                    <li class="login_text"><a href="{% url 'login' %}"><span>로그인</span></a></li>
                    <li class="login_text"><a href="{% url 'signup' %}"><span>회원가입</span></a></li>
                </ul>
            </div>
        {% endif %}
    </ul>
</div>